<h1 >Venues And Bands</h1>
    <h2>Venues:</h2>
    <ul class="list-unstyled">
      <% @venues.each do |venue| %>
      <li>
        <a href="/venues/<%=venue.id%>"><%=venue.name%> | <%=venue.city%>, <%=venue.state%></a>
      </li>
      <%end%>
    </ul>


<div class="buttons">
  <a href="/venues/new" class="btn btn-primary">Add a new Venue</a>
</div>
