<h2>Add a Venue</h2>
<form action="/venues" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" palceholder='e.g. Crystall Ballroom'>
    <label for="city">Name:</label>
    <input type="text" class="form-control" name="city"palceholder='e.g. Portland'>
    <label for="state">Name:</label>
    <input type="text" class="form-control" name="state" palceholder='e.g. OR'>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<a href="/" class="btn btn-primary">Home</a>
