<h2>Add a Venue</h2>
<form action="/venues" method="post">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" placeholder="e.g. Crystall Ballroom">

    <label for="city">City:</label>
    <input type="text" class="form-control" name="city" placeholder="e.g. Portland">

    <label for="state">State:</label>
    <input type="text" class="form-control" name="state" placeholder="e.g. OR">

<br><br>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<br></br>
<a href="/" class="btn btn-primary">Home</a>
